.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  width: 150px;
}

.modal-add {
  display: flex;
  flex-direction: column;
}

.products {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.products__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  height: 200px;
}